<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">

    <style>
        h2 {
            color: rgb(96, 228, 184);
            font-family: "Merriweather", serif;
            font-weight: 100;
            text-decoration: underline;
            margin-left: 10px;
          }
          p {
            color: burlywood;
             font-family: 'Times New Roman', Times, serif;
            margin-left: 20px;
            margin-right: 10px;
            padding: 7px 7px 10px 10px;
            border: 1px solid plum;
            border-radius: 5px;

          }
          .form-container {
            background-color: #fff;
            padding: 40px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px 0px;
          }
          h5 {

            text-align: center;
            border-bottom: 2px solid blanchedalmond;


          }
    </style>
    <title>Information</title>
  </head>
  <body style="background: linear-gradient(120deg,#afb929,#8e44ad);"> 

    {% extends "nav_home.html" %} {% block nav %}


      <div class="card" style="background-color: black;">
        <hr>
        <h1 style="text-align: center;"><img  style="width: 300px;" src="{{img}}" class="card-img-top" alt="..."></h1>

        <div class="card-body">
          <hr>
          <h5 class="card-title" style="color: aquamarine;"><span style="color: red;">*</span> {{name}} <span style="color: red;">*</span></h5>
          <p class="card-text" >{{pera}}</p>
            <h5 style="text-align: center;"><a type="submit"class="btn btn-success" style="text-decoration: none;"  href="/Download-ep"><img src="/static/download.png" alt="">  Download</a>

              <span style="color: black;"><></span>
              <a type="submit"class="btn btn-warning" style="text-decoration: none;"  href="/watch_episode"> <img src="/static/tv.png" alt=""> Watch Now</a> <br>
            
              <!-- <a type="submit" href="/Download-ep" class="btn btn-warning"><i class="fa fa-download"></i> Episodes</button> -->
            </h5>
        
        
        </div>

      </div>

    {% endblock%}



  </body>
</html>